<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item" >
            <a routerLink="employees" routerLinkActive="active"  class="nav-link" >Employee List</a>
        </li>
        <li class="nav-item" >
            <a routerLink="create-employee" class="nav-link" >Add Employee</a>
        </li>
    </ul>


</nav>

<div class="d-flex justify-content-center heading">
    <div class="in">E</div>
    <div class="in">M</div>
    <div class="in">P</div>
    <div class="in">L</div>
    <div class="in">O</div>
    <div class="in">Y</div>
    <div class="in">E</div>
    <div class="in">E</div>
    <div class="in next-word">P</div>
    <div class="in">O</div>
    <div class="in">R</div>
    <div class="in">T</div>
    <div class="in">A</div>
    <div class="in">L</div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>



